input.field {
    width: 90%;
}

body{
    margin:0px;
    background-color:#E6E6FA;
}

#ID{
	align=center;
	 text-shadow:3px 3px 3px #FFCC99 ;
	 
}
.pages{
	float:right;
	display:inline-block;
	text-align:right;
	margin-top:10px;
	margin-left : 200px;
	text-color:#0077b3;
	
}

.pageControls {
		text-color:#0077b3;
		font-weight: normal;
		text-shadow: none;
}
.pages2{
	float:left;
	margin-top:10px;
	display:inline-block;
	text-align:left;
	margin-right : 200px;
	text-color:#0077b3;
	
}

.header {
    height:100px;
    background:#FFCC99;
    border:1px dotted #CCC;
    margin:0px auto;
}
.logo {
	background-color:#FFCC99;
	color:#4C9900;
	text-align:center;
	text-shadow:5px 5px 5px;
}
.logo2 {
	background-color:#FFCC99;
	color:#ffffff;
	text-align:center;
	text-shadow:5px 5px 5px #B2DCEA;
	font-size:25px;
}
.content {
	position:relative;
	width:95%;
	height : auto;
    background: #E6E6FA;
    border: 1px solid #CCC;
    min-height: 700px;
    margin: 20px auto;
}
.welcomemsg {
  float:left;
  margin-left:20px;
  font-family: 'Fenix', serif; 
  font-style: italic;
  color: #408080;
  font-size: 24px;
}

.logout{
  float:right;
  margin-right:10px;
  font-style: italic;
  color: #777;
}
.logout2{
  float:left;
  margin-right:10px;
  font-style: italic;
  color: #777;
  clear:both;
}

.delete {
  display: inline-block;
     width: 20px;
    height: 20px;
    text-align: center;
  background-color: #FF4242;
    border-radius: 50%;
  font-size: 10px;
  font-weight : bold;
  line-height: 20px;
  cursor: pointer;
}
.tableControls {
	position: relative;
  	float : left;
  	width: auto;
}
.tables {
	position: relative;
  	float : left;
}
.navLinks {
	position: relative;
  	float : left;
}
.navLinks button {
	background-color: #8fcccc;
}
.tabs {
  position: relative;
  float : left;
  min-height: 300px; /* This part sucks */
  clear: both;
  margin: 0px 50px 20px 0px;
  background: #E6E6FA;
}
.tab {
  float: left;
  text-size:50px;
}

.tab label{
width:200px;
box-shadow: -2px 2px 4px rgba(1,1,1,1);
padding:5px;
 margin-left: -1px; 
  position: relative;
    top: -20px;
  -webkit-transition: background-color .17s linear;
display:inline-block;
background-color:#3CD6C9;
}
.tab label a{
display:block;
padding:7px 15px;
text-decoration:none;
color:#990000;
}

.container {
width:90%;
}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('error.png');
}
.nav {
  padding: 10px 10px 0;
  background: #333;
}
.is-visible {
  border: solid 1px red;
}

.but {
	background-color:#81BDD1;
	padding:8%;
	color:white;
	font-size:15px;
	border-radius:5px;
}

table, table.standard {
	border-collapse:collapse;
	display :table;
	position : relative;
	max-width : 90%;
	max-height : 90%;
	margin-left:-1px;
	margin-top:10px;
	clear:both;
	border-spacing: 0;
}
 
.standardTh {
    padding: 5px 25px;
    background-color: #0066CC;
    text-color: #E6E6FA;
 	text-align:center;
   font-family:Tahoma, sans-serif;
   font-size:15px;  
}
 th, th.standardTh {
    padding: 5px 5px;
    background-color: #0066CC;
    text-color: #E6E6FA;
 	text-align:center;
   font-family:Tahoma, sans-serif;
   font-size:15px;  
}
.padding{
	padding:5px 30px;
}
.home
{
	display: block;
	position: relative;
}
td, td.standardTd{
	text-align:center;
	 /*border: 1px solid #FFF;*/
	 padding: 5px 22px;
	 font-family:Tahoma, sans-serif;
	 font-size:15px;
}
tr:nth-child(even){
	background-color:#B2DCEA
}
tr:nth-child(odd){
	background-color:#ffffff
}


/*Classes for creating dialogs*/

.modalDialog {
    position: fixed;
    font-family: Tahoma, sans-serif, Helvetica;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

h1 { color: #aa4411; font-size: 36px; font-family: Tahoma, sans-serif; padding-bottom: 0px; }


p { font-family: Tahoma, sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }


a { color:#1174D4;text-decoration:none;
 transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; }

.inline{
	display:inline-block;
}
a:hover { 
	background:linear-gradient(top,rgba(33,105,243,0)0%,rgba(33,105,243,0.55)100%);
background:-moz-linear-gradient(top,rgba(33,105,243,0)0%,rgba(33,105,243,0.55)100%);
background:-webkit-linear-gradient(top,rgba(33,105,243,0)0%,rgba(33,105,243,0.55)100%);
		 }
.panel {
    display: block;
    background: #E6E6FA;
    min-height: 50px;
    margin: 10px;
    padding: 10px;
}

.panel1 {
    display: block;
    position : relative;
    height:auto;
    background: #E6E6FA;
    min-height: 600px;
    margin: 10px;
    padding: 10px;
}

.footer {
    position : relative;
    background: #E6E6FA;
    min-height: 50px;
    margin: 10px;
    padding: 10px;
}
}


.date { float: left }


.author { float: right }


.entry-content { border-bottom: 3px solid #666; padding: 0 0 15px 0; margin-bottom: 8px; }


.meta-info { padding: 5px; overflow: hidden; }


.meta-info p { font-family: 'Fenix', serif; font-style: italic; color: #666; font-size: 16px; }
