<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8" />
	<title>Classroom manager</title>
	<link rel="stylesheet" href="/main.css" />
</head>
<body class="content">
	<div class="header">
	<table style="background-color:#167F92" height="100%" width="100%" >
	<tr>
	<td style="background-color:#167F92" width="20%">
		<h1 style="color:#90EE90;text-align:center;text-shadow:5px 5px 5px #B1F1B1"><i>CSO</i></h1>
		</td>
		<td style="background-color:#167F92">
	<pre><h2 align="left" style="color:#ffffff;text-shadow:5px 5px 5px #B2DCEA;font-size:25px"  >  Students/Staff Day-to-Day Classroom Schedule Organizer</h2></pre>
	</td>
	</tr>
	</table>
	</div>
    <!-- tag::logout[] -->
    <div class="panel" >
        <div class="welcomemsg">
        Hello,<span th:text="${#authentication.name}">user</span>.
        </div>
        <div class="logout">
        <form th:action="@{/logout}" method="post">
            <input class="but" type="submit" value="Log Out"/>
        </form>
        </div>
        <br/>
    </div>
    
    <div id="react"></div>
    <!-- end::logout[] -->

	<div class="footer">© RGUKT - 2017</div>
	
    <script src="built/bundle.js"></script>

</body>
</html>