<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8" />
	<title>Classroom manager</title>
	<link rel="stylesheet" href="/main.css" />
	<link rel="stylesheet" href="/bootstrap-responsive.css" />
	<link rel="stylesheet" href="/bootstrap.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="/react-big-calendar.css" />
	<script type="text/javascript">
	
	$(document).ready(function() {
		   if( $('#adminTag').length) {
			   localStorage.setItem('role','admin');
		   };
		   if($('#staffTag').length) {
			   localStorage.setItem('role','staff');
		   };
		   if($('#studentTag').length) {
			   localStorage.setItem('role','student');
		   };
	});
	$(document).unload(function() {
		localStorage.removeItem('role','student');
	});
	</script>
</head>
<body class="content">
	<div style="display: none;">
		<span id="adminTag" th:if="${#strings.contains(#authentication.principal.authorities,'ADMIN')}" ></span>
		<span id="staffTag" th:if="${#strings.contains(#authentication.principal.authorities,'STAFF')}"></span>
		<span id="studentTag" th:if="${#strings.contains(#authentication.principal.authorities,'STUDENT')}"></span>
	</div>
	<div class="header">
		<div class="logo">
				<h1><i>CSO</i></h1>
		</div>
		<div class="logo2">
			<h2>Students/Staff - Classroom Schedule Organizer</h2>
		</div>
	</div>
    <!-- tag::logout[] -->
    <div class="panel">
        <div class="welcomemsg">
       		<marquee direction="right"> Hello,<span th:text="${#authentication.name}">user</span>.</marquee>
        </div>
        <div class="logout">
	        <form th:action="@{/logout}" method="post">
	            <input class="but" type="submit" value="Log Out"/>
	        </form>
        </div>
    </div>
    
    <div id="react" class="panel1"> </div>
    <!-- end::logout[] -->
	<br/>
	<br/>
	<div class="footer" >© RGUKT - 2017</div>
	
    <script src="built/bundle.js"></script>

</body>
</html>